
@media all{
	
	div.wait_mask {
		display:none;
		position:absolute;
		top:0px;
		left:0px;
		background :  url("../images/wait_IE.gif") no-repeat;
		background-position:center;
		height : 100%;
		width : 100%;
	/*	max-width: 1000px; 
		min-width: 800px; */
		margin:0;
		padding:0;
		z-index:1;
	
	}

}
	